* {
  /*border: 1px solid red;*/
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-flow: column;
  margin: 0px;
  flex: 1;
}

.header-bar {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-between;
  background-color: #1F2947;
  color: white;
}

.header-left {
  margin-left: 10%;
}

.header-right {
  margin-right: 10%;
}

.header-box {
  display: flex;
  width: auto;
  background-color: #1F2947;
  justify-content: center;
  align-items: center;
}

.hb-left {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.hb-right {
  height: auto;
  width: 50%;
  display: flex;
}

.header-content {
  display: flex;
  height: 300px;
  width: 80%;
}

.header-left {
  font-size: 24px;
  font-weight: bold;
}

.header-title {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  gap: 5px;
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.header-subtext {
  font-size: 18px;
  color: #E5E7EB;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-box {
  display: flex;
  justify-content: flex-start;
}

.sign-up-button {
  display: flex;
  font-size: 24px;
  color: white;
  background-color: #3882F6;
  border: none;
  border-radius: 5px;
}

.information-section {
  display: flex;
  height: auto;
  flex-flow: column;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.information-content-box {
  display: flex;
  flex-flow: column;
  height: 450px;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.information-header {
  font-size: 36px;
  font-weight: 900px;
  color: #1F2937;
}

.information-items {
  display: flex;
  flex-flow: row;
}

.text {
  display: flex;
  text-align: center;
  color: #3882F6;
  margin: 0px 30px 0px;
}

.quote-section {
  display: flex;
  flex-flow: column;
  width: auto;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
}

.quote-content-box {
  display: flex;
  height: 450px;
  width: 70%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: #1F2937;
  margin-bottom: 0px;
}

.credit {
  display: flex;
  margin-top: 0px;
  align-self: flex-end;
  color: #1F2937;
  font-weight: 900;
}

.bottom-section {
  display: flex;
  height: 400px;
  width: auto;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.bottom-content {
  display: flex;
  height: 200px;
  padding: 50px;
  width: 80%;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
}

.bc-border {
  display: flex;
  background-color: #3882F6;
  border-radius: 10px;
  width: 100%;
  height: 150px;
  gap: 5px;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.bc-left {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.bc-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-button-2 {
  display: flex;
  font-size: 12px;
  background-color: #3882F6;
  border: 1px solid white;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1F2947;
  color: white;
}

.copyright {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 18px;
}

.information-items img {
  display: flex;
  width: 150px;
  height: 150px;
  border: 5px solid #3882F6;
  border-radius: 20px;
  margin: auto;
  justify-self: center;
}

.hb-right img {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: center;
}
